## Exercises about loop and functions

Let's search for *"python exercise loop and if"* online and check some of the sites. The following questions are from the [first result](https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/)

**Q1.** Write a function which calculates sum all numbers from 1 to given number.

In [ ]:
# fill in the blanks
def sum_n(number):
    my_sum = 0
    for n in range(1,...):
        ...
    return my_sum

In [ ]:
# then use sum_n(10) or sum_n(100) to check your function
sum_n(10)

**Q2**. Write a program to print the following number pattern using a loop.
```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [ ]:
# fill in the blanks
for i in range(1,...):
    for j in range(1,...):
        print(..., end=" ")
    print("")

**Q2-b**. Write a program to print the following number pattern using a loop.
```
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
```

In [ ]:
# write your code here

**Q3**. Find the factorial of a given number using *for* loop. For example `n=10`

In [ ]:
n=10

# write your code below, the result should be 3628800, not 362880 !

## Fastest prime number competition

Let's find the fastest algoritm online

| Student No | Website | Time |
|------------|----------|-----|
| function from lecture |     | 248 µs ± 1.42 µs |

Let's use "7919" as prime number.

In [ ]:
# here's the template

# def yourfunction(...)
#     your copy pasted function goes here

# then benchmark it

# %timeit yourfunction(7919)

In [ ]:
# send your result in chat.. privately.. and then we'll update the table above

In [ ]:
def example_function_from_lecture(n):
    if n < 2:
        return False
    if n == 2:
        return True
    right_numbers = range(3, n // 2, 2)
    for right in right_numbers:
        result = n % right
        if result == 0:         
            return False
    return True

In [ ]:
%timeit example_function_from_lecture(7919)